/* Scroll Box Section */
.SLB-Title p {  width: 30%; }

.SLB-Title p:nth-child(1) 
{
  text-align: left;
  margin-right: 3.5%;
}

.SLB-Title p:nth-child(3) 
{
  text-align: right;
  margin-left: 3.5%;
}

.scroll-list-box button p 
{  
  width: 30%;
  text-align: center;
}

.scroll-list-box button p:nth-child(1) 
{
  text-align: left;
  margin-right: 4.5%;
}

.scroll-list-box button p:nth-child(3) 
{
  text-align: right;
  margin-left: 2.5%;
}

@media (max-width: 610px) 
{
  .SLB-Title p:nth-child(2) {  width: 50%; }

  .scroll-list-box button {  font-size: 0.75rem;  }
}

@media (max-width: 770px) 
{
  .SLB-Title p:nth-child(2) { width: 45%  }  
}

/* Status Selection Section */
.SCB-Title
{
  /* Dimensions */
  width: 80vw;

  /* Characterisitcs */
      color: var(--text);
      align-items: left;

      /* Text */
      font-size: 2rem;
}

.status-change-box 
{
  /* Dimensions */
  height: 50%; 
  width: 80vw;

  /* Characterisitcs */
    /* Text */
    color: var(--text);
    font-size: 1.5rem;
}

.status-change-box span 
{
    /* Positioning */
    display: flex;
    justify-content: left;

    /* Characterisitcs */
    margin: 12px 0px;
}

.status-change-box span p { margin: 0px 6px 0px 0px;}

#action-buttons 
{
  height: 24vh;
  margin-top: 2vh;
  
  display: flex;
  flex-direction: column;
  align-content: center;
}

#AB-apply-to-service
{
  height: 12vh;
  justify-content: space-between;
}

#AB-apply-to-service button 
{
  /* Dimensions */
  width: 47.5%;

  /* Characterisitics */
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 2rem;
}

#SCB-AB-Open { background-color: greenyellow; }

#SCB-AB-Close { background-color: #DE3163; }

#SCB-AB-Deselect 
{
  background-color: var(--error);
  border-radius: 14px;
  margin-top: 4px;
  font-size: 2rem;
  height:45%;
}

/* Button Feedback */

.button-feedback:active {  animation: quick-darken 0.25s ease-out;  }

@keyframes quick-darken 
{
  0% { filter: brightness(1); }
  20% { filter: brightness(0.5); }
  100% { filter: brightness(1); } 
}