.container {    padding: 12px;  }

/* Input Form Section */
.SLB-Title 
{
    width: 80vw;
    margin: 0px 12px;
    padding-left: 0px;
}

form 
{
    /* Dimensions */
    width: 80vw;

    /* Positioning */
    display: flex;
    flex-direction: column;

    /* Characterisitics */
        /* Text */
        color: var(--text);
        font-size: 1.5rem;
}

textarea 
{
    /* Dimensiosns */
    height: 12vh;
    width: 100%;

    /* Positioning */
    margin-bottom: 1vh; 

    /* Characterisitics */
    font-weight: bolder;
    font-size: 1rem;
}

input 
{
    /* Dimensiosns */
    height: 2.5vh;
    width: 100%;

    /* Positioning */
    margin-bottom: 1vh; 

    /* Characterisitics */
    font-size: 1.25rem;
}

/* Expected Duration Time box */
input[type="number"] 
{
    /* Dimensiosns */
    width: 15%;

    /* Characterisitics */
    text-align: center;
    font-size: 1.25;
}

#IF-Time-Units 
{
    gap: 1vh;
    width: 100%;
}

#IF-Time-Units p 
{
    /* Positioning */
    display: inline;
    margin: 0;
    padding: 0;

    /* Characterisitics */
    color: var(--text);
    font-size: 1.25rem;
}

/* The radios */
.radio-group-row 
{
    /* Positioning */
    display: flex;
    flex-direction: column;
    
    /* Characterisitics */
    gap: 0.5vh;            
    margin-top: 1vh;
}

.radio-group-row label 
{
    /* Positiong */
    display: inline-flex;
    align-items: center;
    margin-bottom: 1vh;

    /* Characterisitics */
    gap: 1vh;             
    cursor: pointer;
    font-size: 1.5rem;
}


.radio-group-row input[type="radio"] 
{
    width: auto;          
    margin: 0;
}

/* Action Buttons */
#ABATSSB-create {   background-color: greenyellow;  }

#ABATSSB-delete {   background-color: #DE3163;  }

#ABATSSB-save {   background-color: gold;  }

/* Change in screen size */
@media (max-width: 610px)
{
    form {  font-size: 1rem;    }

    textarea {  font-size: 0.75rem;  }

    input::placeholder {  font-size: 1rem;}

    .radio-group-row label {    font-size: 1rem;}
}